<div *ngIf="notification.error == 'true'" class="alert alert-danger text-center" role="alert">
  {{ notification.message }}
</div>
      {{diagnostic}}

      <h1 class="text-center mb-5">Login</h1>
      <form>
        <div class="form-row">
          <div class="form-group col-12">
            <div>
                <label for="name">Username</label>
                <div [hidden]="username.valid || username.pristine" class="invalid-form-feedback mb-2">
                  <small>Username is required</small>
                </div>
                <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username" #username="ngModel">
            </div>
          </div>
          <div class="form-group col-12">
            <div>
                <label for="name">Password</label>
                <div [hidden]="password.valid || password.pristine" class="invalid-form-feedback mb-2">
                  <small>Password is required</small>
                </div>
                <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
            </div>
          </div>
        </div>

        <div class="text-center mt-5"> 
            <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
        </div>
      </form>

