<div *ngIf="notification.error == 'true'" class="alert alert-danger text-center" role="alert">
  {{ notification.message }}
</div>


<div class="row d-flex justify-content-center mt-5">
  <div class="col-6">
    <div class="list-group">
      <a *ngFor="let todo of todos" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-1">{{todo.title}}</h3>
          <small><span [ngClass]="todo.isDone ? 'badge-success' : 'badge-danger'" class="badge badge-pill p-2" ><i [ngClass]="todo.isDone ? 'fa-check-square' : 'fa-window-close'" class="fa mr-2"></i>{{todo.isDone ? 'Task Done' : 'Task Not Done'}}</span></small>
        </div>

        <div class="progress mt-5">
          <div class="progress-bar progress-bar-striped" [ngStyle]="{'width': todo.completedPercentageText}" [ngClass]="{ 'bg-danger': todo.completedPercentage <= 30 && todo.completedPercentage >= 0, 'bg-warning': todo.completedPercentage <= 59 && todo.completedPercentage >= 31, 'bg-success': todo.completedPercentage <= 100 && todo.completedPercentage >= 60  }"></div> 
        </div> 
        <p class="mt-2">Subtasks completed: <span class="badge badge-pill badge-success">{{todo.subtaskCurrent}}</span> of {{todo.subtaskTotal}}</p>

        <table class="mt-5">
          <tr>
            <td><small><a href="/todos/delete/{{todo.id}}" class="mr-5"><i class="fa fa-trash-alt mr-2"></i>Delete</a></small></td>
            <td><small><a href="/todos/update/{{todo.id}}" class="mr-5"><i class="fa fa-edit mr-2"></i>Edit</a></small></td>
          </tr>
        </table>
      </a>
  </div>
</div>
