<div *ngIf="notification.error == 'true'" class="alert alert-danger text-center" role="alert">
    {{ notification.message }}
  </div>
  {{diagnostic}}
      <h1 class="mb-5 text-center">Add Todo</h1>
      <form>
        <div class="form-row">
            <div class="form-group col-12">
                <div>
                    <label for="name">Title</label>
                    <div [hidden]="title.valid || title.pristine" class="invalid-form-feedback mb-2">
                        <small>Title is required</small>
                    </div>
                    <input type="text" class="form-control col" id="title" required [(ngModel)]="todo.title" name="title" #title="ngModel">
                </div>
            </div>
        </div>

        <div class="text-center mt-5"> 
            <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
        </div>
      </form>
