
<div *ngIf="notification.error == 'true'" class="alert alert-danger text-center" role="alert">
  {{ notification.message }}
</div>


{{diagnostic}}

  <h1 class="text-center">Update Todo</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-12">
        <div>
            <label for="name">Title</label>
            <div [hidden]="title.valid || title.pristine" class="invalid-form-feedback mb-2">
                <small>Title is required</small>
            </div>
            <input type="text" class="form-control" id="title" required [(ngModel)]="todo.title" name="title" #title="ngModel">
        </div>
      </div>
      <div class="form-group col-12">
       <div>
        <label class="mr-2" for="name">Is Done:</label>
        <div class="form-check-group">
            <div class="form-check form-check-inline">
                <input [(ngModel)]="todo.isDone" class="form-check-input" type="radio" name="isDone" id="isDone" value=true>
                <label class="form-check-label" for="inlineRadio1">Done</label>
              </div>
      
              <div class="form-check form-check-inline">
                <input [(ngModel)]="todo.isDone" class="form-check-input" type="radio" name="isDone" id="isNotDone" value=false>
                <label class="form-check-label" for="inlineRadio2">Not Done</label>
              </div>
        </div>
      </div>
       </div>
    </div>
    <div class="text-center mt-5"> 
        <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>

